<!DOCTYPE html>
<html lang="en">

<head>
    <title> Default-Grid Rendering</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Listview Default Rendering" />
    <meta name="author" content="Syncfusion" />

    <link href="../../../styles/material.css" rel="stylesheet" />
    <script src="../../../node_modules/requirejs/require.js" data-main="headerTemplate.js"></script>
    <script src="../../require.config.js"></script>
</head>

<body>
    <style type="text/css" class="cssStyles">
    .e-grid .e-icon-userlogin::before{
    width:15px !important;
    content:'\e7d4';
    }
.e-grid .e-icon-calender::before{
        width:15px !important;
        content:'\e7b5';
    }
    </style>

<script id="datetemplate" type="text/x-template">
    <span class="e-icon-calender e-icons headericon"></span>
    Order Date
</script>
<script id="employeetemplate" type="text/x-template">
    <span class="e-icon-userlogin e-icons employee"></span>
    Emp ID
</script>
    <div>
        <div id="Grid">
        </div>
    </div>
</body>

</html>