
$grid-header-bg-color: $neutral-white;
$grid-header-color: $neutral-secondary;
$grid-sorted-header-color: $neutral-secondary;
$grid-headerconent-font-opacity: 1;
$grid-header-border-color: $neutral-light;
$grid-header-border-width: 0;
$grid-headercell-line-height: 36px;
$grid-header-padding: 8px;
$grid-header-first-last-cell-padding: 10px;
$grid-headercelldiv-margin: -8px;
$grid-headercelldiv-right-align-padding: 0 .6em 0;
$grid-headercelldiv-padding: 0 8px 0;
$grid-headercell-both-border-width: 0 0 0 1px;
$grid-header-font-weight: normal;
$grid-textbox-animation-color: $neutral-light;
$grid-filterbarcell-border-width: 1px 0 0;
$grid-filterbarcell-padding: 3px 8px 2px 8px;
$grid-filterdiv-padding: 0;
$grid-search-input-font-size: 13px;
$grid-bigger-search-input-font-size: 14px;
$gird-bigger-search-input-padding: 6px 0 0;
$grid-filterbarcell-clear-icon-right: 12px;
$grid-filterbarcell-clear-icon-top: 12px;
$grid-filterbarcell-text-indent: 10px;
$grid-bigger-filterinputdiv-span-top: 15px;
$grid-bigger-filterbarcell-clear-icon-right: 15px;
$grid-sortdiv-margin: -22px 15px;
$grid-sortdiv-right-align-margin: -21px 10px;
$grid-sortnumer-line-height: 15px;
$grid-sortnumber-border-radius: 55%;
$grid-altrow-bg-color: $neutral-lighter-alt;
$grid-rowcell-broder-width: 1px 0 0;
$grid-rowcell-line-height: 21px;
$group-row-bg-color: $neutral-white;
$grid-first-last-rowcell-padding: 10px;
$grid-content-padding: 7px;
$grid-content-right-padding: 8px;
$grid-content-font-size: 13px;
$grid-summary-cell-font-size: 14px;
$grid-summary-cell-line-height: 21px;
$grid-cell-border-color: $neutral-light;
$grid-drag-clone-border-color: $neutral-light;
$grid-drag-clone-opacity: 1;
$grid-content-font-color: $neutral-light-font;
$grid-conent-font-opacity: 1;
$grid-row-selection-bg-color: $theme-lighter;
$grid-row-selection-color: $theme-light-font;
$grid-hover-bg-color: $neutral-lighter;
$grid-cell-selection-bg-color: $theme-lighter;
$grid-cell-selection-color: $theme-light-font;
$group-droparea-bg-color: $theme-primary;
$group-droparea-color: $theme-primary-font;
$grid-grouparea-font-size: 17px;
$group-header-border-radius: 0;
$grid-drag-clone-color: $neutral-secondary;
$grid-drag-clone-bg-color: $neutral-light;
$grouped-droparea-bg-color: $theme-primary;
$group-droparea-hover-bg-color: $theme-primary;
$group-header-bg-color: $theme-light;
$group-header-color: $theme-light-font;
$grid-group-height: 59px;
$grid-grouparea-margin: 8px 0 0 8px;
$group-area-padding: 16px 0 8px;
$grid-group-broder-color: $theme-light;
$grid-group-headercell-line-height: 22px;
$grid-group-text-line-height: 22px;
$grid-headecell-height: 26px;
$grid-filterbarcell-text-input: 32px;
$grid-grouped-headercell-padding: 1px 8px;
$grid-rtl-grouped-headercell-padding: 1px 0 1px 8px;
$group-sorticon-margin-right: 8px;
$grid-header-icon-color: $theme-light-font;
$grid-grouptext-margin-right: 8px;
$grouped-text-font-size: 14px;
$group-sorticon-font-size: 12px;
$group-header-hover-bg-color: $theme-lighter;
$grid-group-hover-broder-color: $theme-lighter;
$grid-grouptopleftcell-border-top: 1px solid;
$grid-group-caption-font-size: 15px;
$group-caption-font-color: $neutral-light-font;
$grid-group-captioncell-line-height: 17px;
$grid-group-right-arrow-icon: '\e84f';
$grid-group-down-arrow-icon: '\e85e';
$grid-group-down-arrow-icon-font-size: 12px;
$grid-group-right-arrow-icon-font-size: 12px;
$grid-ungroup-button-line-height: 25px;
$grid-ungroup-button-font-size: 11px;
$grid-ungroup-icon-content: '\e7a7';
$grid-filterbar-cancel-icon-content: '\e7a7';
$grid-group-rtl-right-arrow-icon: '\e84f';
$grid-textwrap-sorticon-rightalign-margin: -15px 0;
$grid-textwrap-sorticon-margin: -15px -5px;
$grid-rtl-group-headercell-margin-right: 8px;
$grid-rtl-group-headercell-margin-left: 0;
$grid-sortdiv-width: 16px;
$grid-sortdiv-height: 16px;
$grid-sortnumber-margin: 7px 25px 0 2px;
$grid-sortnumber-rightalign-margin: 8px 20px 0;
$grid-icon-default-color: #212121;
$grid-rtl-sortnumber-margin: 7px 0 0 3px;
$grid-rtl-sortnumber-rightalign-margin: 7px 0 0 30px;
$grid-rtl-headercell-border-width: 0;
$grid-rtl-th-firstcell-border-left: 0;
$grid-rtl-sortcelldiv-margin: -22px -1px;
$grid-rtl-sortcelldiv-right-alingn-margin: -22px 12px;
$grid-rtl-group-text-margin-left: 0;
$grid-rtl-group-text-margin-right: 8px;
$grid-rtl-group-sorticon-margin-right: 8px;
$grid-ungroup-rtl-padding-top: 0;
$grid-bigger-headercell-padding: round($grid-header-padding*1.25);
$grid-bigger-headercell-bootom-padding: round($grid-header-bottom-padding*1.25);
$grid-bigger-headercell-line-height: round($grid-headercell-line-height*1.25);
$grid-bigger-header-first-last-cell-padding: round($grid-header-first-last-cell-padding*1.25);
$grid-bigger-content-padding: round($grid-content-padding*1.25);
$grid-bigger-content-right-padding: round($grid-content-right-padding*1.25);
$grid-bigger-rowcell-line-height: round($grid-rowcell-line-height*1.25);
$grid-bigger-first-last-rowcell-padding: round($grid-first-last-rowcell-padding*1.25);
$grid-bigger-group-line-height: round($grid-group-height*1.25);
$grid-bigger-filterbarcell-text-input: 40px;
$grid-bigger-group-headercell-height: round($grid-headecell-height*1.25);
$grid-bigger-group-clone-broder-radius: round($grid-gd-clone-border-radius *1.25);
$grid-bigger-grouptext-marign: round($grid-grouptext-margin-right *1.25);
$grid-bigger-groupedcell-icons-marign-left: round($group-sorticon-margin-left *1.25);
$grid-bigger-groupcaption-line-height: 27px;
$grid-bigger-grouped-headercell-border-radius: 0;
$grid-bigger-group-headercell-margin: 10px 0 0 10px;
$grid-bigger-group-headercell-padding: 0 10px;
$grid-bigger-ungroup-button-font-size: 13px;
$grid-bigger-ungroupbutton-icons-font-size: 13px;
$grid-bigger-ungroupbutton-icon-margin-top: 1px;
$grid-bigger-grouparea-font-size: 21px;
$grid-bigger-rtl-group-headercell-margin: 8px 10px 0 0;
$grid-bigger-rtl-group-headercell-padding: 0 10px;
$grid-bigger-rtl-ungroup-icon-margin-right: 8px;
$group-bigger-sorticon-margin-right: round($group-sorticon-margin-right*1.25);
$grid-bigger-gdownarrow-icon-font-size: 14px;
$grid-bigger-grightarrow-icon-font-size: 14px;
$grid-bigger-icons-font-size: 14px;
$grid-bigger-header-icons-font-size: 14px;
$grid-bigger-sortdiv-margin: -24px 0;
$grid-bigger-sortdiv-rightalign-margin: -24px -4px;
$grid-bigger-headercell-font-size: 15px;
$grid-bigger-content-font-size: 14px;
$grid-bigger-font-size: 14px;
$grid-bigger-textwrap-srotnumber-margin: 3px 11px 0 2px;
$grid-bigger-textwrap-srotnumber-rightalign-margin: 3px 2px 0 10px;
$grid-bigger-textwrap-sorticon-rightalign-margin: -17px 0;
$grid-bigger-textwrap-sorticon-margin: -17px 0;
$grid-device-headercell-padding: 0 8px;
$grid-device-headercell-fistchild-padding: 0 8px 0 10px;
$grid-device-headercell-lastchild-padding: 0 10px 0 8px;
$grid-device-groupheadercell-span-line-height: 0 8px;
$grid-device-rowcell-padding: $grid-content-padding 8px;
$grid-device-rowcell-firstchild-padding: $grid-content-padding 8px $grid-content-padding 10px;
$grid-device-rowcell-lastchild-padding: $grid-content-padding 10px $grid-content-padding 8px;
$grid-device-filterbarcell-padding: 3px 8px 2px 8px;
$grid-device-filterbarcell-firstchild-padding: 3px 8px 2px 10px;
$grid-device-filterbarcell-lastchild-padding: 3px 10px 2px 8px;
