@include export-module('grid-layout') {
  /*! Grid layout */
  .e-disableuserselect {
    user-select: none;
  }

  .e-bigger .e-grid,
  .e-grid.e-bigger  {
    font-size: $grid-bigger-font-size;

    .e-toolbar .e-toolbar-items .e-tbar-btn .e-icons {
      font-size: 18px;
    }

    .e-headercell {
      height: $grid-bigger-headercell-line-height;
      padding: 0 $grid-bigger-headercell-padding $grid-bigger-headercell-bootom-padding;
    }

    .e-icons {
      font-size: $grid-bigger-icons-font-size;
    }

    .e-gridheader .e-icons {
      font-size: $grid-bigger-header-icons-font-size;
    }

    .e-icon-gdownarrow {
      font-size: $grid-bigger-gdownarrow-icon-font-size;
    }

    .e-icon-grightarrow {
      font-size: $grid-bigger-grightarrow-icon-font-size;
    }

    .e-gridheader {
      & tr th:last-child  {
        padding-right: $grid-bigger-header-first-last-cell-padding;
      }

      & tr th:first-child  {
        padding-left: $grid-bigger-header-first-last-cell-padding;
      }
    }

    .e-headercelldiv {
      font-size: $grid-bigger-headercell-font-size;
    }

    .e-rowcell,
    .e-summarycell {
      font-size: $grid-bigger-content-font-size;
      padding: $grid-bigger-content-padding $grid-bigger-content-right-padding;
    }

    .e-rowcell:first-child,
    .e-summarycell:first-child {
      padding-left: $grid-bigger-first-last-rowcell-padding;
    }

    .e-rowcell:last-child,
    .e-summarycell:last-child {
      padding-right:  $grid-bigger-first-last-rowcell-padding;
    }

    .e-filterbarcell,
    .e-filterbarcelldisabled {
      height: $grid-bigger-headercell-line-height;
      padding: 0 $grid-bigger-headercell-padding;
    }

    .e-filterbarcell input {
      height: $grid-bigger-filterbarcell-text-input;
    }

    .e-sortfilterdiv {
      margin: $grid-bigger-sortdiv-margin;
    }

    .e-gridheader .e-rightalign .e-sortfilterdiv {
      margin: $grid-bigger-sortdiv-rightalign-margin;
    }

    .e-rowcell,
    .e-summarycell,
    .e-emptyrow td {
      line-height: $grid-bigger-rowcell-line-height;
    }

    .e-filterdiv.e-fltrinputdiv span {
      right: $grid-bigger-filterbarcell-clear-icon-right;
      top: $grid-bigger-filterinputdiv-span-top;
    }

    .e-filterbarcell input {
      font-size: $grid-bigger-font-size;
    }

    .e-groupdroparea {
      font-size: $grid-bigger-grouparea-font-size;
      min-height: $grid-bigger-group-line-height;
      padding: $grid-bigger-groupdroparea-padding;
    }

    .e-groupdroparea.e-grouped {
      padding: $grid-bigger-groupedcell-padding;
    }

    .e-groupheadercell,
    .e-groupheadercell:hover {
      border-radius: $grid-bigger-grouped-headercell-border-radius;
      height: $grid-bigger-group-headercell-height;
      margin: $grid-bigger-group-headercell-margin;
      padding: $grid-bigger-group-headercell-padding;
  }

    .e-gdclone {
      border-radius: $grid-bigger-group-clone-broder-radius;
      padding: $grid-bigger-group-clone-padding;
    }

    .e-groupheadercell span {
      line-height: $grid-bigger-groupcell-span-line-height;
    }

    .e-groupheadercell .e-ungroupbutton {
      font-size: $grid-bigger-ungroup-button-font-size;
    }

    .e-groupheadercell .e-grouptext {
      line-height: $grid-bigger-group-text-line-height;
    }

    &.e-device .e-headercell {
      padding: $grid-device-headercell-padding;
    }

    &.e-device .e-headercell:first-child {
      padding: $grid-device-headercell-fistchild-padding;
    }

    &.e-device .e-headercell:last-child {
      padding: $grid-device-headercell-lastchild-padding;
    }

    &.e-device .e-groupheadercell span {
      line-height: $grid-device-groupheadercell-span-line-height;
    }

    &.e-device .e-rowcell,
    &.e-device .e-summarycell {
      padding: $grid-device-rowcell-padding;
    }

    &.e-device .e-rowcell:first-child,
    &.e-device .e-summarycell:first-child {
      padding: $grid-device-rowcell-firstchild-padding;
    }

    &.e-device .e-rowcell:last-child,
    &.e-device .e-summarycell:last-child {
      padding: $grid-device-rowcell-lastchild-padding;
    }

    &.e-device .e-filterbarcell {
      padding: $grid-device-filterbarcell-padding;
    }

    &.e-device .e-filterbarcell:first-child {
      padding: $grid-device-filterbarcell-firstchild-padding;
    }

    &.e-device .e-filterbarcell:last-child {
      padding: $grid-device-filterbarcell-lastchild-padding;
    }

    &.e-device .e-groupheadercell .e-ungroupbutton {
      line-height: $grid-device-ungroupbutton-line-height;
    }

    .e-grouptext {
      margin-right: $grid-bigger-grouptext-marign;
      width: $grid-bigger-grouptext-width;
    }

    .e-gridheader table th[rowspan],
    &.e-device .e-gridheader table th[rowspan] {
      padding-bottom: $grid-device-gridheader-row-span-padding;
    }

    .e-groupsort,
    span.e-ungroupbutton,
    .e-toggleungroup {
      margin-left: $grid-bigger-groupedcell-icons-marign-left;
    }

    span.e-ungroupbutton.e-icons {
      font-size: $grid-bigger-ungroupbutton-icons-font-size;
      margin-top: $grid-bigger-ungroupbutton-icon-margin-top;
    }

    .e-groupsort {
      margin-right: $group-bigger-sorticon-margin-right;
    }

    &.e-rtl .e-groupheadercell,
    &.e-rtl .e-groupheadercell:hover {
      margin: $grid-bigger-rtl-group-headercell-margin;
      padding: $grid-bigger-rtl-group-headercell-padding;
 }

    &.e-rtl span.e-ungroupbutton.e-icons {
      margin-right: $grid-bigger-rtl-ungroup-icon-margin-right;
      margin-top: $grid-bigger-rtl-ungroup-icon-margin-top;
      padding-top: $grid-ungroup-rtl-padding-top;
    }

    .e-groupcaption {
      line-height: $grid-bigger-groupcaption-line-height;
    }

    .e-toolbar-items .e-toolbar-item .e-search {
      border-radius: $grid-bigger-searchbar-border-radius;
      height: $grid-bigger-searchbar-height;
      margin: $grid-bigger-searchbar-marign;
      padding: $grid-bigger-searchbar-padding;

      & input {
        border-radius: $grid-bigger-search-input-border-radius;
        font-size: $grid-bigger-search-input-font-size;
        height: $gird-bigger-search-input-height;
        padding: $gird-bigger-search-input-padding;
      }

      & span {
        font-size: $grid-bigger-search-span-font-size;
      }
    }

    .e-ccdlg {
      top: 0;

      .e-dlg-header-content {
        padding: $grid-bigger-columnchooser-header-padding;
      }

      .e-dlg-content {
        padding: $grid-bigger-columnchooser-content-padding;
      }

      .e-ccul-ele {
        padding: $grid-bigger-columnchooser-ul-padding;
      }

      li.e-cclist {
        padding: $grid-bigger-columnchooser-li-padding;
     }

      .e-toolbar .e-ccdiv {
        margin-top: $grid-bigger-columnchooser-toolbar-div-margin-top;
    }
  }
 }

  .e-grid {
    border-style: none $grid-border-type $grid-border-type;
    border-width: $grid-border-size;
    display: block;
    font-family: $grid-font-family;
    font-size: $grid-font-size;
    height: auto;
    position: relative;

    .e-gridheader {
      user-select: none;
    }

    .e-gridheader .e-icons {
      font-size: $grid-icon-font-size;
    }

    .e-toolbar {
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-top: $grid-toolbar-border-width $grid-header-border-color;
    }

    .e-toolbar-items .e-toolbar-item .e-search {
      background-color: $grid-toolbar-search-background-color;
      border: $grid-toolbar-border-width $grid-header-border-color;
      border-radius: $grid-searchbar-border-radius;
      height: $grid-searchbar-height;
      margin: $grid-searchbar-marign;
      padding: $grid-searchbar-padding;

      & input {
        border: 0;
        font-family: 'Roboto';
        font-size: $grid-search-input-font-size;
        height: $gird-search-input-height;
        padding: $gird-search-input-padding;
        width: $grid-search-input-width;
      }

      & span {
        cursor: pointer;
        font-size: $grid-search-span-font-size;
        padding: $grid-search-span-padding;
      }
    }

    .e-groupdroparea.e-grouped {
      padding: $grid-grouped-padding;
    }

    &.e-default .e-gridheader.e-stackedfilter .e-grouptopleftcell,
    &.e-default.e-horizontallines .e-gridheader.e-stackedfilter .e-grouptopleftcell {
      border-top: 0;
     }

    &.e-default .e-gridheader.e-stackedfilter tr:first-child th.e-grouptopleftcell,
    &.e-default.e-horizontallines .e-gridheader.e-stackedfilter tr:first-child th.e-grouptopleftcell {
      border-bottom: 1px solid;
    }

    &.e-default.e-verticallines .e-gridheader.e-stackedfilter tr:first-child th.e-grouptopleftcell,
    &.e-default.e-hidelines .e-gridheader.e-stackedfilter tr:first-child th.e-grouptopleftcell {
      border-bottom: 0;
    }

    &.e-default .e-gridheader.e-stackedfilter tr:last-child th.e-grouptopleftcell,
    &.e-default.e-horizontallines .e-gridheader.e-stackedfilter tr:last-child th.e-grouptopleftcell {
      border-top: 1px solid;
    }

    &.e-default.e-hidelines .e-gridheader.e-stackedfilter tr:last-child th.e-grouptopleftcell,
    &.e-default.e-verticallines .e-gridheader.e-stackedfilter tr:last-child th.e-grouptopleftcell {
      border-top: 0;
    }

    &.e-default .e-grouptopleftcell {
      border-top: $grid-grouptopleftcell-border-top;
    }

    &.e-default .e-gridheader .e-headercell.e-firstheader,
    &.e-default.e-horizontallines .e-headercell.e-firstheader {
      border-left: 1px solid;
    }

    &.e-default.e-hidelines .e-headercell.e-firstheader {
      border-left: 0;
     }

    &.e-default.e-verticallines .e-grouptopleftcell,
    &.e-default.e-bothlines .e-grouptopleftcell,
    &.e-default.e-hidelines .e-grouptopleftcell {
      border-top-width: 0;
    }

    &.e-default.e-verticallines,
    &.e-default.e-hidelines {
      & .e-detailrowcollapse,
      & .e-detailrowexpand {
        border-top-width: 0;
      }
    }

    &.e-default.e-horizontallines .e-grouptopleftcell {
      border-top: 1px solid;
    }

    .e-table {
      table-layout: fixed;
      width: 100%;
    }

    .e-tableborder {
      border-right: 1px solid;
    }

    .e-virtualtable {
      overflow: hidden;
      will-change: transform;
      z-index: 1;
    }

    .e-headercelldiv {
      border: 0 none;
      display: block;
      font-size: $grid-header-font-size;
      font-weight: $grid-header-font-weight;
      height: 29px;
      line-height: $grid-headercelldiv-line-height;
      margin: $grid-headercelldiv-margin;
      overflow: hidden;
      padding: 0 .6em;
      text-align: left;
      user-select: none;
    }

    .e-columnheader {
      cursor: pointer;
    }

    .e-columnheader.e-defaultcursor {
      cursor: default;
    }

    .e-gridheader .e-headercell,
    .e-gridheader .e-detailheadercell {
      user-select: none;
    }

    .e-gridcontent {
      & tr:first-child td {
        border-top: 0 none;
      }
    }


    .e-gridheader {
      & tr:first-child th {
        border-top: 0 none;
      }

      & tr th:last-child  {
        padding-right:  $grid-header-first-last-cell-padding;
      }

      & tr th:first-child  {
        padding-left: $grid-header-first-last-cell-padding;
      }
    }

    .e-gridheader {
      border-bottom-style: $grid-border-type;
      border-bottom-width: $grid-border-size;
      border-top-style: $grid-border-type;
      border-top-width: $grid-border-size;
    }

    &.e-bothlines .e-filterbarcell,
    &.e-bothlines .e-filterbarcelldisabled {
      border-width: $grid-filtercell-both-border-width;
    }

    .e-headercell,
    .e-detailheadercell {
      border-style: $grid-border-type;
      border-width: $grid-header-border-width;
      font-size: $grid-header-font-size;
      font-weight: $grid-header-font-weight;
      height: $grid-headercell-line-height;
      overflow: hidden;
      padding: 0 $grid-header-padding $grid-header-bottom-padding;
      text-align: left;
    }

    &.e-device .e-headercell {
      padding: $grid-device-headercell-padding;
    }

    &.e-device .e-headercell:first-child {
      padding: $grid-device-headercell-fistchild-padding;
    }

    &.e-device .e-headercell:last-child {
      padding: $grid-device-headercell-lastchild-padding;
    }

    .e-rowcell {
      border-style: $grid-border-type;
      border-width: $grid-rowcell-broder-width;
      display: table-cell;
      font-size: $grid-content-font-size;
      line-height: $grid-rowcell-line-height;
      overflow: hidden;
      padding: $grid-content-padding $grid-content-right-padding;
      vertical-align: middle;
      white-space: nowrap;
      width: auto;
    }

    .e-rowcell:first-child,
    .e-summarycell:first-child {
      padding-left: $grid-first-last-rowcell-padding;
    }

    .e-rowcell:last-child,
    .e-summarycell:last-child {
      padding-right: $grid-first-last-rowcell-padding;
    }

    .e-summarycell {
      border-style: solid;
      border-width: $border-size 0 0;
      font-size: $grid-summary-cell-font-size;
      font-weight: $grid-header-font-weight;
      height: auto;
      line-height: $grid-summary-cell-line-height;
      padding: $grid-content-padding $grid-content-right-padding;
      white-space: normal;
      word-wrap: break-word;
    }

    .e-summarycontent .e-indentcell {
      border-width: 0;
    }

    &.e-device .e-rowcell,
    &.e-device .e-summarycell {
      padding: $grid-device-rowcell-padding;
    }

    &.e-device .e-rowcell:first-child,
    &.e-device .e-summarycell:first-child {
      padding: $grid-device-rowcell-firstchild-padding;
    }

    &.e-device .e-rowcell:last-child,
    &.e-device .e-summarycell:last-child {
      padding: $grid-device-rowcell-lastchild-padding;
    }

    td.e-rowcell.e-checkbox {
      padding: $grid-checkbox-cell-padding-top-bottom $grid-content-right-padding;
    }

    td.e-rowcell.e-checkbox input[type='checkbox'] {
      margin-top: 5px;
   }

    &.e-default .e-rowcell.e-lastrowcell,
    &.e-bothlines .e-rowcell.e-lastrowcell {
      border-bottom-width: $border-size;
    }

    &.e-bothlines .e-rowcell {
      border-width: $grid-rowcell-both-border-width;
    }

    .e-gridheader table th[rowspan],
    &.e-device .e-gridheader table th[rowspan] {
      padding-bottom: 13px;
      vertical-align: bottom;
    }

    .e-emptyrow td {
      line-height: $grid-rowcell-line-height;
      padding: .7em;
    }

    &.e-responsive .e-rowcell,
    &.e-responsive .e-headercelldiv {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.e-default .e-headercell,
    &.e-default .e-detailheadercell {
      border-width: $grid-header-border-width;
    }

    [aria-selected] + tr .e-detailindentcell {
      border-top-style: $grid-border-type;
      border-top-width: $grid-border-size;
    }

    &.e-default.e-verticallines .e-headercell,
    &.e-default.e-verticallines .e-detailheadercell {
      border-width: 0 0 0 $grid-border-size;
    }

    &.e-default.e-verticallines .e-headercell.e-stackedheadercell {
      border-bottom: $grid-border-size solid;
    }

    &.e-default .e-stackedheadercell {
      border-width: $grid-stackedheadercell-border-size;
    }

    &.e-default.e-verticallines tr th:first-child:not(.e-firstcell) {
      border-left-width: 0;
    }

    &.e-default.e-bothlines .e-headercell,
    &.e-default.e-bothlines .e-detailheadercell {
      border-width: $grid-headercell-both-border-width;
    }

    tr  th.e-firstcell {
      border-left-style: $grid-border-type;
      border-left-width: $grid-border-size;
    }

    &.e-default tr {
      & td:first-child,
      & th.e-headercell:first-child:not(.e-firstcell),
      & th.e-detailheadercell:first-child,
      & th.e-filterbarcell:first-child {
        border-left-width: 0;
      }
    }

    .e-hide {
      display: none;
    }

    .e-rowcell,
    .e-gridcontent,
    .e-gridheader,
    .e-headercontent,
    .e-groupdroparea,
    .e-gridfooter,
    .e-summarycontent {
      overflow: hidden;
      vertical-align: middle;
    }

    .e-sortfilterdiv {
      float: right;
      height: $grid-sortdiv-height;
      margin: $grid-sortdiv-margin;
      padding: 3px;
      width: $grid-sortdiv-width;
    }

    .e-gridheader .e-rightalign .e-sortfilterdiv {
      float: left;
      margin: $grid-sortdiv-right-align-margin;
    }

    .e-gridheader .e-sortfilter .e-rightalign .e-headercelldiv,
    .e-gridheader .e-rightalign .e-stackedheadercelldiv {
      padding: $grid-headercelldiv-right-align-padding;
    }

    .e-gridheader .e-sortfilter .e-headercelldiv,
    .e-gridheader .e-stackedheadercelldiv {
      padding: $grid-headercelldiv-padding;
    }

    .e-sortnumber {
      border-radius: $grid-sortnumber-border-radius;
      display: inline-block;
      float: right;
      font-size: 9px;
      height: 15px;
      line-height: $grid-sortnumer-line-height;
      margin: $grid-sortnumber-margin;
      text-align: center;
      width: 15px;
    }

    .e-gridheader .e-rightalign .e-sortnumber {
      float: left;
      margin: $grid-sortnumber-rightalign-margin;
    }

    &.e-wrap .e-gridheader .e-rightalign .e-sortnumber {
      margin: $grid-textwrap-srotnumber-rightalign-margin;
    }

    &.e-wrap .e-gridheader .e-rightalign .e-sortfilterdiv {
      margin: $grid-textwrap-sorticon-rightalign-margin;
   }

    &.e-wrap .e-gridheader .e-sortnumber {
      margin: $grid-textwrap-srotnumber-margin;
    }

    &.e-wrap .e-gridheader .e-sortfilterdiv {
      margin: $grid-textwrap-sorticon-margin;
   }

    [class^='e-'] {
      box-sizing: border-box;
    }

    .e-detailrowcollapse,
    .e-detailrowexpand {
      border-style: $grid-border-type;
      border-width: $grid-rowcell-broder-width;
      cursor: pointer;
    }

    .e-detailindentcell {
      border-right-style: $grid-border-type;
      border-right-width: $grid-border-size;
    }

    .e-detailcell {
      border-top-style: $grid-border-type;
      border-top-width: $grid-border-size;
      padding: .3em;
    }

    &.e-verticallines .e-rowcell,
    &.e-verticallines .e-filterbarcell {
      border-width: 0 0 0 $grid-border-size;
    }

    &.e-hidelines .e-rowcell,
    &.e-horizontallines .e-headercell,
    &.e-hidelines .e-headercell,
    &.e-horizontallines .e-detailheadercell,
    &.e-hidelines .e-detailheadercell,
    &.e-hidelines tr th.e-firstcell,
    &.e-hidelines .e-filterbarcell {
      border-width: 0;
    }

    &.e-horizontallines .e-headercell.e-stackedheadercell {
      border-width: 0 0  $grid-border-size  $grid-border-size;
    }

    &.e-horizontallines .e-rowcell,
    &.e-horizontallines .e-filterbarcell {
      border-width: $grid-border-size 0 0;
    }

    &.e-horizontallines,
    &.e-verticallines,
    &.e-hidelines {
      & .e-rowcell.e-lastrowcell {
        border-bottom-width: $grid-border-size;
      }
    }

    &.e-horizontallines,
    &.e-verticallines,
    &.e-hidelines,
    &.e-bothlines {
      & .e-detailrowvisible {
        border-left-width: 0;
      }
    }

    &.e-verticallines,
    &.e-hidelines {
      & .e-firstchildrow .e-rowcell,
      & .e-firstchildrow .e-detailrowcollapse,
      & .e-firstchildrow .e-detailrowexpand {
        border-top-width: 1px;
      }
    }

    .e-filterbarcell .e-icons::before {
      display: block;
      margin: 0 auto;
    }

    // sass-lint:disable-all
    .e-filterbarcell .e-filtertext::-webkit-search-cancel-button,
    .e-search input::-webkit-search-cancel-button {
      display: none;
    }

    .e-filterbarcell .e-filtertext::-ms-clear, 
    .e-search input::-ms-clear{
      display: none;
    }

    // sass-lint:enable-all   
    .e-filterbarcell,
    .e-filterbarcelldisabled {
      border-collapse: collapse;
      border-style: $grid-border-type;
      border-width: $grid-filterbarcell-border-width;
      cursor: default;
      height: $grid-headercell-line-height;
      overflow: hidden;
      padding: $grid-filterbarcell-padding;
      vertical-align: middle;
    }

    .e-filterbarcell input {
      border-style: solid;
      border-width: $grid-filterbar-input-border-width ;
      font-family: $grid-font-family;
      font-size: $grid-font-size;
      font-weight: normal;
      height: $grid-filterbarcell-text-input;
      padding-right: 24px;
      text-indent: $grid-filterbarcell-text-indent;
      width: 100%;
    }

    &.e-device .e-filterbarcell {
      padding: $grid-device-filterbarcell-padding;
    }

    &.e-device .e-filterbarcell:first-child {
      padding: $grid-device-filterbarcell-firstchild-padding;
    }

    &.e-device .e-filterbarcell:last-child {
      padding: $grid-device-filterbarcell-lastchild-padding;
    }

    .e-filterdiv .e-filtertext:focus {
      border-width: $grid-textbox-animation-bordersize;
     }

    .e-filterdiv,
    .e-fltrtempdiv {
      padding: $grid-filterdiv-padding;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .e-filterdiv.e-fltrinputdiv span {
      cursor: pointer;
      display: block;
      height: 16px;
      position: absolute;
      right: $grid-filterbarcell-clear-icon-right;
      top: $grid-filterbarcell-clear-icon-top;
      width: 21px;
    }

    .e-filterdiv.e-fltrinputdiv span.e-hide {
      display: none;
    }

    .e-pager {
      border-bottom: transparent;
      border-left: transparent;
      border-right: transparent;
    }

    .e-gridpopup {
      font-weight: normal;
      position: absolute;
      user-select: none;
      z-index: 99999;
    }

    .e-gridpopup .e-content {
      border-radius: 4px;
      border-style: solid;
      border-width: $grid-border-size;
      font-size: 14px;
      padding: 4px;
    }

    .e-gridpopup span {
      border: 1px solid transparent;
      cursor: pointer;
      display: inline-block;
      height: 26px;
      padding: 4px;
      width: 26px;
    }

    .e-gridpopup .e-tail::before,
    .e-gridpopup .e-tail::after {
      border: 10px solid transparent;
      content: '';
      height: 0;
      left: 8px;
      position: absolute;
      width: 0;
    }

    .e-gridpopup .e-downtail::after {
      top: 34px;
    }

    .e-gridpopup .e-uptail::after {
      top: -17px;
    }

    .e-gridpopup .e-uptail::before {
      top: -19px;
    }

    .e-gridpopup .e-sortdirect,
    .e-gridpopup .e-rowselect {
      line-height: 18px;
      text-indent: $grid-rowselect-text-indent;
    }

    .e-cloneproperties {
      border-style: solid;
      border-width: $grid-border-size;
      font-size: $grid-header-font-size;
      font-weight: $grid-header-font-weight;
      opacity: $grid-drag-clone-opacity;
      overflow: hidden;
      padding: 4px 5px;
      text-align: center;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      z-index: 10;
    }

    .e-defaultcur {
      cursor: default;
    }

    .e-notallowedcur {
      cursor: not-allowed;
    }

    .e-cloneproperties table {
      border-spacing: 0;
    }

    .e-headerclone {
      border-radius: $group-header-border-radius;
      font-size: $grid-header-font-size;
      font-weight: $grid-header-font-weight;
      line-height: 29px;
    }

    .e-draganddrop {
      border-width: 0 1px 1px;
      font-weight: normal;
      padding: 0;
    }

    .e-draganddrop .e-rowcell {
      opacity: .8;
    }

    &.e-default .e-gridheader th.e-firstcell {
      border-left-style: $grid-border-type;
      border-left-width: $grid-border-size;
    }

    &.e-bothlines .e-gridheader th.e-stackedheadercell {
      border-bottom-style: $grid-border-type;
      border-bottom-width: $grid-border-size;
      border-left-style: $grid-border-type;
      border-left-width: $grid-border-size;
    }

    &.e-default.e-hidelines .e-gridheader th.e-firstcell {
      border-left-width: 0;
    }

    .e-gridheader .e-headercontent .e-reorderuparrow,
    .e-gridheader .e-headercontent .e-reorderdownarrow {
      font-size: 7px;
      position: absolute;
    }

    .e-groupdroparea {
      height: auto;
      min-height: $grid-group-height;
    }

    .e-griddragarea {
      border: 1px solid;
      opacity: .6;
      position: absolute;
    }

    .e-gdclone {
      border-radius: $grid-gd-clone-border-radius;
      padding: 2px;
    }

    .e-content {
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
      overflow-x: auto;
      overflow-y: scroll;
      position: relative;
    }

    &.e-ungroupdrag .e-columnheader,
    &.e-ungroupdrag .e-groupdroparea,
    &.e-rowdrag .e-columnheader,
    &.e-rowdrag .e-groupdroparea {
      cursor: not-allowed;
    }

    .e-groupdroparea,
    &.e-ungroupdrag .e-gridcontent,
    &.e-rowdrag .e-gridcontent {
      cursor: default;
    }

    .e-groupdroparea {
      border-style: solid none;
      border-width: 1px 0 0;
    }

    .e-groupdroparea {
      border-top-width: $grid-border-size;
      font-size: $grid-grouparea-font-size;
      font-weight: lighter;
      opacity: $grid-conent-font-opacity;
      padding: $group-area-padding;
      text-align: $group-text-align;
      text-indent: 1pt;
      user-select: none;
      width: 100%;
    }

    .e-grouptext {
      display: inline-block;
      margin-right: $grid-grouptext-margin-right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 57px;
   }

    .e-grid-icon {
      float: left;
    }

    .e-groupheadercell,
    .e-groupheadercell:hover {
      border: $group-border-width;
      border-collapse: collapse;
      border-radius: $group-header-border-radius;
      cursor: pointer;
      font-size: $grouped-text-font-size;
      font-weight: normal;
      height: $grid-headecell-height;
      margin: $grid-grouparea-margin;
      overflow: hidden;
      padding: $grid-grouped-headercell-padding;
      vertical-align: middle;
    }

    .e-groupheadercell span {
      display: inline-block;
      float: left;
      height: $grid-headecell-height;
      line-height: $grid-group-headercell-line-height;
      vertical-align: middle;
    }

    .e-groupheadercell .e-grouptext {
      line-height: $grid-group-text-line-height;
    }

    .e-groupheadercell .e-ungroupbutton {
      font-size: $grid-ungroup-button-font-size;
      line-height: $grid-ungroup-button-line-height;
    }

    &.e-device .e-groupheadercell span {
      line-height: 26px;
    }

    &.e-device .e-groupheadercell .e-ungroupbutton {
      line-height: 28px;
    }

    .e-groupheadercell .e-cancel {
      padding-right: $group-sorticon-font-size;
    }

    .e-groupheadercell .e-icons::before {
      display: inline;
    }

    .e-groupsort,
    .e-ungroupbutton,
    .e-toggleungroup {
      font-size: $group-sorticon-font-size;
      margin-left: $group-sorticon-margin-left;
    }

    .e-groupsort {
      margin-right: $group-sorticon-margin-right;
    }

    span.e-ungroupbutton.e-icons {
      margin-left: $group-unpgrouicon-margin-left;
    }

    .e-grptogglebtn {
      padding: 7px;
    }

    .e-icon-gdownarrow {
      font-size: $grid-group-down-arrow-icon-font-size;
      text-indent: $group-collapse-icon-text-indent;
    }

    .e-icon-grightarrow {
      font-size: $grid-group-right-arrow-icon-font-size;
      text-indent: $group-expand-icon-text-indent;
    }

    .e-recordplusexpand {
      padding-top: 5px;
    }

    .e-indentcell {
      border-style: $grid-border-type;
      border-width: 0 $grid-border-size 0 0;

      &.e-indentcelltop {
        border-width: $grid-border-size 0 0;
      }
    }

    .e-recordplusexpand,
    .e-recordpluscollapse {
      border-style: $grid-border-type;
      border-width: $grid-border-size 0 0;
      cursor: pointer;
    }

    .e-groupcaption {
      border-style: $grid-border-type;
      border-width: $grid-border-size 0 0;
      display: table-cell;
      font-size: $grid-group-caption-font-size;
      line-height: $grid-group-captioncell-line-height;
      overflow: hidden;
      padding: .7em;
      vertical-align: middle;
      white-space: nowrap;
      width: auto;
    }

    .e-virtualtable .e-groupcaption {
      line-height: $grid-rowcell-line-height;
      padding: $grid-content-padding $grid-content-right-padding;
    }

    .e-headercontent {
      border-style: solid;
      border-width: 0;
    }

    .e-stackedheadercell {
      border-width: $grid-stackedheadercell-border-size;
      white-space: nowrap;
    }

    .e-noselect {
      user-select: none;
    }

    &.e-device.e-bigger .e-normaledit .e-rowcell,
    .e-normaledit .e-rowcell {
      padding-bottom: 0;
      padding-top: 0;
    }

    &.e-device .e-normaledit .e-rowcell {
      padding-bottom: $grid-edit-cell-padding;
      padding-top: $grid-edit-cell-padding;
    }

    .e-normaledit {
      border-top: 0;
    }

    .e-gridcontent .e-normaledit .e-rowcell {
      border-top: $grid-border-size $grid-border-type;
    }

    .e-gridcontent tr.e-row:first-child .e-rowcell {
      border-top: 0;
    }

    &.e-device .e-editedbatchcell.e-rowcell,
    &.e-device.e-bigger .e-editedbatchcell.e-rowcell,
    .e-editedbatchcell.e-rowcell {
      padding-bottom: 0;
      padding-top: 0;
    }

    .e-editedbatchcell,
    td.e-boolcell {
      padding-left: $grid-content-right-padding;
      padding-right: $grid-content-right-padding;
    }

    td.e-boolcell input {
      margin: 3px 3px 3px 4px;
    }

    td.e-boolcell {
      padding-bottom: 6px;
      padding-top: 7px;
    }

    .e-dialog .e-gridform .e-rowcell {
      border: 0;
      padding: .1em;
    }

    .e-dialog table {
      border-collapse: separate;
      border-spacing: 11px;
    }

    .e-row .e-input-group .e-input.e-field,
    .e-row .e-input-focus .e-input.e-field {
      font-family: $grid-font-family;
      font-size: $grid-font-size;
      padding-bottom: $grid-edit-input-padding-bottom;
      padding-top: $grid-edit-input-padding-top;
    }

    .e-row .e-input-group {
      margin-bottom: $grid-edit-input-margin;
    }

    &.e-bigger .e-row .e-input-group .e-input.e-field,
    &.e-bigger .e-row .e-input-focus .e-input.e-field {
      font-family: $grid-font-family;
      font-size: $grid-font-size;
      padding-bottom: $grid-edit-input-bigger-padding-bottom;
      padding-top: $grid-edit-input-bigger-padding-top;
    }

    &.e-bigger .e-row .e-input-group {
      margin-bottom: $grid-edit-input-bigger-margin;
    }

    .e-hiddenrow {
      display: none;
    }

    .e-columnchooserdiv {
      float: right;
      margin: -12px;
    }

    .e-ccdlg {
      .e-dlg-header-content {
        padding: $grid-columnchooser-header-padding;
      }

      .e-dlg-content {
        margin: 22px 0 0;
        overflow: visible;
        padding: $grid-columnchooser-content-padding;
      }

      .e-main-div {
        box-sizing: border-box;
        position: relative;
      }

      .e-ccul-ele {
        margin: $grid-columnchooser-ul-margin;
        padding: $grid-columnchooser-ul-padding;
      }

      li.e-cclist {
        padding: $grid-columnchooser-li-padding;
     }

      .e-checkbox-wrapper .e-frame {
        margin-left: 0;
      }

      label.e-cc {
        margin: 0;
      }

      .e-footer-content {
        border-style: solid;
        border-width: $grid-column-chooser-footdiv;
      }

      .e-cc-contentdiv {
        height: 196px;
        overflow-y: auto;
      }

      .e-cc-searchdiv {
        border-style: solid;
        border-width: $grid-column-chooser-searchdiv;
        left: 0;
        opacity: $grid-column-chosser-searchdiv-opactiy;
        position: absolute;
        right: 0;
        top: -46px;

        span.e-ccsearch-icon.e-icons {
          float: right;
          opacity: .6;
          padding: $grid-column-chooser-search-icon-padding;
      }

        span.e-ccsearch-icon.e-cc-cancel {
          font-size: 11px;
          padding: $grid-column-chooser-cancel-icon-padding;
       }
   }

      .e-cc-searchdiv.e-input-focus {
        opacity: $grid-column-chosser-searchdiv-fopactiy;

        span.e-ccsearch-icon.e-icons {
          opacity: $grid-columnchooser-cancel-icon-content-f-opactiy;
       }
   }

      .e-innerdiv.e-ccnmdiv {
        height: 60px;
        padding: 23px;
        text-align: center;
     }

      .e-checkbox-wrapper .e-label {
        text-overflow:  ellipsis;
       }

      .e-cc-chbox {
        margin: 3px;
        vertical-align: middle;
       }

      .e-footer-content {
        padding: $grid-column-chooser-dlg-footer-padding;
      }

      .e-cc-lab-name {
        padding: 7px;
        text-overflow:  ellipsis;
        vertical-align: middle;
       }

      .e-cc.e-input {
        border: $grid-columnchooser-input-border;
        padding-bottom: $grid-columnchooser-padding-bottom;
        padding-top: $grid-columnchooser-padding-top;
       }
  }

    .e-columnchooser::before {
      line-height: $grid-columnchooser-toolbar-icon-line-height;
  }

    .e-toolbar .e-ccdiv .e-columnchooser.e-cctbn-icon {
      font-size: $grid-columnchooser-toolbar-icon-font-size;
      vertical-align: $grid-columnchooser-toolbar-icon-vertical-align;
  }

    .e-toolbar .e-ccdiv {
      margin-top: $grid-columnchooser-toolbar-div-margin-top;
      padding: $grid-columnchooser-toolbar-div-padding;
  }

    &.e-rtl {

      & .e-headercell,
      & .e-detailheadercell {
        border-width: $grid-rtl-headercell-border-width;
        text-align: right;


        & .e-headercelldiv {
          padding: 0 .6em 0 25px;
          text-align: right;

          & .e-sortnumber {
            float: left;
            margin: $grid-rtl-sortnumber-margin;
          }
        }

        & .e-tableborder {
          border-left: 1px solid;
        }

        & .e-filterbarcell input {
          border-width: $grid-filterbar-input-border-width;
        }

        & .e-sortfilterdiv {
          float: left;
          margin: $grid-rtl-sortcelldiv-margin;
        }

        &.e-leftalign {
          & .e-sortfilterdiv {
            float: right;
            margin: -14px 3px;
        }

          & .e-headercelldiv {
            padding: 0 25px 0 .7em;

            & .e-sortnumber {
              float: right;
              margin: 6px 5px 0 0;
            }

          }

        }

        &.e-rightalign {
          & .e-sortnumber {
            float: left;
            margin: $grid-rtl-sortnumber-rightalign-margin;
         }
        }

      }

      &.e-wrap .e-gridheader .e-rightalign .e-sortnumber {
        margin: $grid-rtl-textwrap-srotnumber-rightalign-margin;
     }

      &.e-wrap .e-gridheader .e-sortnumber {
        margin: $grid-rtl-textwrap-srotnumber-margin;
     }

      &.e-wrap .e-gridheader .e-sortfilterdiv {
        margin: $grid-rtl-textwrap-sorticon-margin;
     }

      &.e-wrap .e-gridheader .e-rightalign .e-sortfilterdiv {
        margin: $grid-rtl-textwrap-sorticon-rightalign-margin;
     }

      &.e-verticallines .e-grouptopleftcell,
      &.e-bothlines .e-grouptopleftcell,
      &.e-hidelines .e-grouptopleftcell {
        border-top: 0;
    }

      & .e-grouptopleftcell {
        border-top: $grid-grouptopleftcell-border-top;
    }

      & .e-grouptext {
        margin-left: $grid-rtl-group-text-margin-left;
        margin-right: $grid-rtl-group-text-margin-right;
   }

      & .e-groupheadercell span {
        float: right;
      }

      &.e-horizontallines .e-grouptopleftcell {
        border-top: 1px solid;
    }

      & .e-rowcell {
        border-width: $grid-rowcell-broder-width;
      }

      & .e-filterbarcell,
      & .e-filterbarcelldisabled {
        border-width: $grid-filterbarcell-border-width;
      }

      & .e-lastrowcell {
        border-width: $grid-border-size $grid-border-size $grid-border-size 0;
      }

      & .e-filterdiv:not(.e-fltrtempdiv) input {
        padding-left: 24px;
        padding-right: 0;
        width: 100%;
      }

      & .e-filterdiv:not(.e-fltrtempdiv) span {
        left: 2px;
        right: auto;
      }

      & .e-gridheader .e-rightalign .e-sortfilterdiv {
        margin: $grid-rtl-sortcelldiv-margin;
      }

      & .e-sortfilterdiv {
        margin: $grid-rtl-sortcelldiv-margin;
      }

      & .e-cloneproperties {
        border-width: $grid-border-size $grid-border-size 3px;
      }

      & tr {
        & td:first-child,
        & th:first-child {
          border-left-width: $grid-rtl-th-firstcell-border-left;
      }
  }

      &.e-default.e-bothlines tr {
        & td:first-child,
        & th:first-child {
          border-left-width: 1px;
      }
    }

      &.e-default tr {
        & td:last-child,
        & th:last-child {
          border-left: 0;
      }
    }

      &.e-default.e-verticallines tr th:last-child {
        border-left: 1px solid;
      }

      &.e-default .e-gridheader {
        & tr th:last-child  {
          padding-left:  $grid-header-first-last-cell-padding;
          padding-right: $grid-header-first-last-cell-padding;
      }

        & tr th:first-child  {
          padding-left: $grid-header-first-last-cell-padding;
          padding-right: $grid-header-first-last-cell-padding;
      }
    }

      &.e-default th:first-child
      &.e-default .e-headercell,
      &.e-default .e-detailheadercell {
        border-width: $grid-header-border-width;
      }

      &.e-default .e-rowcell {
        border-width: $grid-rowcell-broder-width;
      }

      &.e-default.e-verticallines .e-headercell,
      &.e-default.e-verticallines .e-rowcell,
      &.e-default.e-verticallines .e-filterbarcell,
      &.e-default.e-verticallines .e-detailheadercell,
      &.e-default.e-verticallines .e-gridheader th.e-firstcell {
        border-width: 0 0  0 $grid-border-size;
      }

      &.e-default.e-verticallines tr th:first-child:not(.e-firstcell) {
        border-left-width: $grid-border-size;
     }

      &.e-default .e-stackedheadercell,
      &.e-default.e-horizontallines .e-stackedheadercell {
        border-width: $grid-rtl-stackedheadercell-border-size;
     }

      &.e-default .e-gridheader th.e-firstcell,
      &.e-default.e-horizontallines .e-gridheader th.e-firstcell {
        border-left-width: $grid-rtl-stackedhader-firstcell-left-border-size;
        border-right-width: $grid-rtl-stackedhader-firstcell-right-border-size;
      }

      &.e-default .e-gridheader .e-headercell.e-firstheader,
      &.e-default.e-horizontallines .e-headercell.e-firstheader {
        border-left: 0;
      }

      &.e-default.e-hidelines .e-gridheader th.e-firstcell {
        border-left: 0;
        border-right: 0;
    }

      &.e-default .e-gridheader .e-headercell.e-firstheader,
      &.e-default.e-horizontallines .e-gridheader .e-headercell.e-firstheader {
        border-right: 1px solid;
    }

      &.e-default.e-verticallines .e-gridheader .e-headercell.e-firstheader {
        border-right: 0;
    }

      &.e-default.e-verticallines .e-gridheader .e-headercell.e-firstheader,
      &.e-default.e-verticallines .e-gridheader th.e-grouptopleftcell.e-lastgrouptopleftcell {
        border-left: 1px solid;
    }

      &.e-default.e-verticallines .e-headercell.e-stackedheadercell {
        border-bottom: 1px solid;
    }

      &.e-default .e-detailcell ,
      &.e-default.e-bothlines .e-detailcell {
        border-right-style: solid;
        border-right-width: 1px;
     }

      & .e-cc-searchdiv span.e-ccsearch-icon.e-icons {
        float: left;
     }

      & .e-groupsort,
      & .e-ungroupbutton,
      & .e-toggleungroup {
        margin-left: 0;
        margin-right: $grid-rtl-group-sorticon-margin-right;
    }

      & span.e-ungroupbutton.e-icons {
        margin-left: 0;
        margin-right: 6px;
        padding-top: $grid-ungroup-rtl-padding-top;
    }

      &.e-default.e-bothlines .e-headercell,
      &.e-default.e-bothlines .e-detailheadercell {
        border-width: $grid-headercell-both-border-width;
      }

      &.e-default.e-bothlines .e-gridheader .e-headercell.e-firstheader,
      &.e-default.e-bothlines .e-gridheader th.e-grouptopleftcell.e-lastgrouptopleftcell {
        border-left: 1px solid;
        border-right: 0;
     }

      &.e-bothlines .e-gridheader th.e-stackedheadercell {
        border-bottom-style: $grid-border-type;
        border-bottom-width: $grid-border-size;
      }

      &.e-bothlines .e-filterbarcell,
      &.e-bothlines .e-filterbarcelldisabled {
        border-width: $grid-filtercell-both-border-width;
     }

      &.e-bothlines .e-rowcell,
      &.e-bothlines .e-rowcell.e-lastrowcell {
        border-width: $grid-rowcell-both-border-width;
     }

      &.e-verticallines .e-rowcell,
      &.e-verticallines .e-filterbarcell {
        border-width: 1px 0 0 $grid-border-size;
      }

      &.e-hidelines .e-rowcell,
      &.e-hidelines .e-headercell,
      &.e-hidelines .e-detailheadercell,
      &.e-hidelines .e-filterbarcell {
        border-width: 0;
      }

      &.e-horizontallines .e-rowcell,
      &.e-horizontallines .e-filterbarcell {
        border-width: $grid-border-size 0 0;
      }

      &.e-horizontallines,
      &.e-verticallines,
      &.e-hidelines {
        & .e-rowcell.e-lastrowcell {
          border-bottom-width: $grid-border-size;
        }
      }

      &.e-verticallines,
      &.e-hidelines {
        & .e-firstchildrow .e-rowcell {
          border-top-width: 1px;
        }
      }

      & .e-groupheadercell .e-icons::before {
        display: inline-block;
      }

      & .e-groupheadercell .e-cancel {
        padding-left: 23px;
        padding-right: 0;
        padding-top: 2px;
      }

      & .e-groupheadercell,
      & .e-groupheadercell:hover {
        margin-left: $grid-rtl-group-headercell-margin-left;
        margin-right: $grid-rtl-group-headercell-margin-right;
        padding: $grid-rtl-grouped-headercell-padding;
      }

      & .e-groupheadercell,
      & .e-groupheadercell:hover {
        float: right;
      }

      & .e-groupdroparea {
        text-align: $grid-groupdroparea-rtl-text-align;
      }

      & .e-ungroupbutton {
        float: left;
      }

      & tr td.e-indentcell {
        border-style: $grid-border-type;
        border-width: 0 0 0 $grid-border-size;
      }

      & .e-detailindentcell {
        border-left-style: $grid-border-type;
        border-left-width: $grid-border-size;
        border-right-width: 0;
    }

    }

    &.e-wrap {
      & .e-rowcell,
      & .e-columnheader .e-stackedheadercelldiv,
      & .e-columnheader .e-headercelldiv {
        height: Auto;
        line-height: 18px;
        white-space: normal;
      }
    }
  }
}
