$grid-header-padding: 21px;
$grid-header-bottom-padding: 0;
$grid-header-bg-color: $grey-white;
$grid-header-color: rgba(0, 0, 0, .54);
$grid-sorted-header-color: $grey-light-font;
$gridcontent-font-color: $grey-light-font;
$grid-header-border-color: $grey-300;
$grid-headerconent-font-opacity: .54;
$grid-content-right-padding: 21px;
$grid-filterbarcell-padding: 0 21px;
$grid-vertical-border-size: 0;
$grid-content-padding: 8px;
$grid-rowcell-line-height: 20px;
$grid-headercell-line-height: 42px;
$grid-filtercell-line-height: 42px;
$grid-cell-border-color: $grey-300;
$grid-content-font-color: $grey-light-font;
$grid-conent-font-opacity: .87;
$grid-row-selection-bg-color: $grey-300;
$grid-row-selection-color: $grey-light-font;
$grid-hover-bg-color: $grey-200;
$grid-cell-selection-bg-color: $grey-300;
$grid-cell-selection-color: $grey-light-font;
$grid-filterbar-input-border-width: 0 0 2px 0;
$grid-filterbarcell-border-width: 1px 0 0;
$grid-group-height: 48px;
$group-header-border-radius: 12px;
$grid-drag-clone-bg-color: $grey-200;
$grid-drag-clone-border-color: $grey-300;
$grid-drag-clone-opacity: 1;
$grid-drag-clone-color: rgba(0, 0, 0, .54);
$group-droparea-bg-color: $primary-50;
$group-droparea-color: $grey-light-font;
$grid-grouparea-font-size: 14px;
$group-header-bg-color: $primary;
$group-border-width: 0;
$grouped-droparea-bg-color: $primary-300;
$group-droparea-hover-bg-color: $primary-100;
$group-expand-icon-text-indent: 12px;
$group-collapse-icon-text-indent: 12px;
$group-row-bg-color: $grey-50;
$grid-textbox-animation-color: $accent;
$grid-textbox-animation-bordersize: 0 0 2px 0;
$grid-header-font-weight: 500;
$grid-header-font-size: 12px;
$grid-content-font-size: 13px;
$grid-header-icon-color: $grey-light-font;
$grid-header-icon-color: $grey-white;
$grid-hover-icon-color: $grey-white;
$grid-grouparea-margin: 3px 0 0 18px;
$group-area-padding: 14px 24px;
$group-text-padding-right: 9px;
$group-unpgrouicon-margin-left: 6px;
$group-sorticon-margin-left: 6px;
$grid-grouptopleftcell-border-top: 1px solid;
$grid-grouped-padding: 9px 0 10px;
$grid-ungroup-icon-opactiy: .7;
$grid-headecell-height: 24px;
$group-sorticon-font-size: 10px;
$grid-grouped-headercell-padding: 0 6px 0 9px;
$grid-default-color: $grey-white;
$grid-stackedheadercell-border-size: 1px 0 0 1px;
$group-text-align: left;
$grid-icon-default-color: #212121;
$grid-right-border: 0;
$grid-stackedheadercell-border-size: 0 0 1px 1px;
$grid-grouparea-first-cell-margin: 0 6px 0 12px;
$grid-hide-icon-content: '\e917';
$grid-altrow-bg-color: $grey-white;
$grid-header-border-width: 0;
$grid-rowcell-broder-width: 1px 0 0 0;
$grid-headercell-both-border-width: 0 0 0 1px;
$grid-rowcell-both-border-width: 1px 0 0 1px;
$grid-indentcell-border-width: 0 1px 0 0;
$grid-headercelldiv-line-height: 30px;
$grid-filterbarcell-text-indent: 0;
$grid-grouptext-margin-right: 6px;
$grid-groupdroparea-rtl-text-align: right;
$grid-drag-selection-bg-color: $grey-100;
$grid-rtl-th-firstcell-border-left: 0;
$grid-gd-clone-border-radius: 13px;
$group-ungroupicon-font-size: 9px;
$grid-checkbox-cell-padding-top-bottom: 6px;
$grid-rtl-headercell-border-width: 0;
$grid-rowselect-text-indent: 7%;
$grid-ungroup-rtl-padding-top: 7px;
$group-header-color: $grey-white;
