@import 'ej2-base/styles/fabric.scss';
@import '../pager/fabric.scss';
@import 'ej2-inputs/styles/fabric.scss';
@import 'ej2-buttons/styles/fabric.scss';
@import 'ej2-dropdowns/styles/fabric.scss';
@import 'ej2-popups/styles/fabric.scss';
@import 'ej2-calendars/styles/fabric.scss';
@import 'ej2-navigations/styles/fabric.scss';
@import 'definition.scss';
@import 'fabric-definition.scss';
@import 'all.scss';
