@import 'ej2-base/styles/highcontrast.scss';
@import '../pager/highcontrast.scss';
@import 'ej2-inputs/styles/highcontrast.scss';
@import 'ej2-buttons/styles/highcontrast.scss';
@import 'ej2-dropdowns/styles/highcontrast.scss';
@import 'ej2-popups/styles/highcontrast.scss';
@import 'ej2-calendars/styles/highcontrast.scss';
@import 'ej2-navigations/styles/highcontrast.scss';
@import 'definition.scss';
@import 'highcontrast-definition.scss';
@import 'all.scss';
