@import 'ej2-base/styles/material.scss';
@import '../pager/material.scss';
@import 'ej2-inputs/styles/material.scss';
@import 'ej2-buttons/styles/material.scss';
@import 'ej2-dropdowns/styles/material.scss';
@import 'ej2-popups/styles/material.scss';
@import 'ej2-calendars/styles/material.scss';
@import 'ej2-navigations/styles/material.scss';
@import 'definition.scss';
@import 'material-definition.scss';
@import 'all.scss';
