$pager-font-size: 13px;
$pager-font-family: sans-serif;
$pager-border-type: $border-type;
$pager-border-size: $border-size;
$pager-icon-size: 7px;
$pager-mobile-icon-size: 11px;
$pager-icon-color: $default-icon-color;
$pager-bg-color: $default-bg-color;
$pager-color: $default-font-color;
$pager-border-color: $default-border-color;
$pager-hover-bg-color: $hover-bg-color;
$pager-hover-color: $hover-font-color;
$pager-active-bg-color: $active-bg-color;
$pager-active-color: $active-font-color;
$pager-icon-width: 'auto';
$pager-icon-height: 'auto';
$pager-container-margin: 0 6px -3px;
$pager-numeric-icon-padding: 6px 3px 7px 2px;
$pager-navigationicon-padding: 11px 9px 8px;
$pager-navigationicon-right: 0;
$pager-navigationicon-top: 0;
$pager-numericitem-padding: 0;
$pager-numericitem-margin-right: 0;
$pager-numericitem-border-radius: 0;
$pager-messagebar-padding-top: 5px;
$pager-messagebar-padding-right: 6px;
$pager-padding: 9px 0;
$pager-content-opacity: 1;
$pager-next-icon-margin-left: 0;
$pager-container-rtl-margin: 0 6px -4px 0;
$pager-rtl-navigation-icon-padding: 11px 9px 8px 2px;
$pager-activeitem-padding: 6px 1px 7px;
$pager-rtl-numeric-margin: 0;
$pager-tripledot-font-size: 16px;
$pager-tripledot-padding: 6px;
$pager-first-content-icon: '\e716';
$pager-prev-content-icon: '\e84b';
$pager-next-content-icon: '\e848';
$pager-last-content-icon: '\e701';
