$pager-border-color: $neutral-light;
$pager-border-size: 0;
$pager-padding: 13px 0 12px;
$pager-active-bg-color: $theme-light;
$pager-active-color: $theme-light-font;
$pager-font-size: 14px;
$pager-first-content-icon: '\e999';
$pager-prev-content-icon: '\e829';
$pager-next-content-icon: '\e830';
$pager-last-content-icon: '\e938';
$pager-icon-size: 12px;
$pager-hover-color: $neutral-lighter;
$pager-number-hover-bg-color: $neutral-lighter;
$pager-hover-color: $neutral-light-font;
$pager-pagecontainer-icon-padding: 12px 10px 8px;
$pager-messagebar-padding-top: 9px;
$pager-messagebar-padding-right: 10px;
$pager-last-page-hover-border-radius: 0;
$pager-first-page-hover-border-radius: 0;
$pager-letter-spacing: 0;
$pager-rtl-parentmsgbar-margin-left: 8px;
$pager-numericitem-margin-right: 0;
$pager-tripledot-font-size: 20px;
$pager-tripledot-padding: 0 6px 10px;
$pager-bigger-padding: 14px 0 10px;
$pager-bigger-messagebar-padding-right: 13px;
$pager-bigger-messagebar-padding-top: 9px;
$pager-bigger-nexticon-marign-left: $pager-next-icon-margin-left * 1.25;
$pager-bigger-rtl-nexticon-marign-right: $pager-next-icon-margin-left * 1.25;
$pager-bigger-current-item-border-radius: 0;
$pager-bigger-pagercontainer-margin: 5px 8px 5px 13px;
$pager-bigger-font-size: 17px;
$bigger-icon-font-size: 17px;
$pager-bigger-current-item-padding: 8px 13px;
$pager-bigger-pagercontainer-icons-marign-right: 0;
$pager-bigger-pagercontainer-icons-padding: 10px;
$pager-bigger-rtl-parentmsgbar-margin-left: 10px;
$pager-bigger-rtl-activeitem-padding: 10px 14px;
$pager-bigger-numeric-item-margin: 0;
$pager-dropdown-margin-top: -20px;
$pager-dropdown-margin-left: 25px;
$pager-dropdown-constant-padding: 0 18px 0 8px;
$pager-bigger-dropdown-constant-margin: 17px;
$pager-bigger-dropdown-margin: -44px  0 0 23px;
$pager-dropdown-height: 32px;
$pager-constant-margin: 0 0 4px 8px;
$pager-bigger-letter-spacing: 2px 10px 11px;
$pager-hover-bg-color: '';
